# Ignora node_modules
node_modules
npm-debug.log
yarn-debug.log
yarn-error.log

# Ignora arquivos de ambiente
.env
.env.local

# Ignora artefatos de produção
dist
build

# Ignora configurações do sistema/IDE
.DS_Store
*.swp
.vscode
.idea
